:root {
  /* Primary Color */
  --primary-color: #4fd5b5;
  --primary-color-light: #5effec;
  --primary-color-dark: #3ca289;
  --primary-color-accent: #102b24;
  --primary-color-borders: #47c0a3;

  /* Secondary Color */
  --secondary-color: #ae6bf2;
  --secondary-color-light: #c970ff;
  --secondary-color-dark: #8954bf;
  --secondary-color-accent: #231530;

  /* Tertiary Color */
  --tertiary-color: #e16ed7;
  --tertiary-color-light: #ff7ccf;
  --tertiary-color-dark: #ae55a6;
  --tertiary-color-accent: #432140;
  --tertiary-color-borders: #c761be;

  /* Accent Color */
  --accent-color: #dfb288;
  --accent-color-light: #fed29a;
  --accent-color-dark: #b2936c;
  --accent-color-accent: #594736;

  /* Background Color */
  --background-color: #ffffff;
  --background-color-light: #f5f5f5;
  --background-color-dark: #dde3e1;
  --background-color-accent: #f6fcfa;

  /* Neutral Color */
  --neutral-color: #2b2730;
  --neutral-color-light: #4d4656;
  --neutral-color-dark: #1f1c23;
  --neutral-color-accent: #1d1c1c;
  --neutral-color-borders: #97929c;

  /* Button Color */
  --button-color: var(--primary-color);
  --button-color-light: var(--primary-color-light);
  --button-color-dark: var(--primary-color-dark);
  --button-color-accent: var(--primary-color-accent);
}

/* DARK MODE */
:root {
  --bs-body-bg: #fff;
  --bs-body-color: #212529;
  /* Add more custom values for other CSS variables as needed */
}

[data-color-mode='dark'] {
  /* --bs-body-bg: #212529;
  --bs-body-color: #f8f9fa; */
  --background-color-accent: var(--neutral-color-light);
  --background-color: var(--neutral-color);
  /* Add more custom values for other CSS variables as needed */
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/*  It adds a bottom margin of 70px to the body element to prevent the bottom navigation bar from overlapping the page content (mobile/tablet) */
@media (max-width: 991.98px) {
  body {
    margin-bottom: 80px;
  }
}

/* Disable show/hide password default icon in Edge */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

.dark-bg {
  background-color: var(--neutral-color-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light-bg {
  background-color: var(--background-color-accent);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-content {
  margin-top: 82px;
  /* overflow-x: hidden; */
}

/* BUTTONS */
.main-btn {
  background-color: var(--button-color);
  border: solid var(--primary-color-borders) 3px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--neutral-color);
}

.main-btn:hover {
  background-color: var(--button-color-dark);
  border: solid var(--primary-color-borders) 3px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: white;
}

.main-btn:disabled {
  background-color: var(--button-color);
  border: solid var(--primary-color-light) 3px;
}

/* Disable annoying default color on click */
.main-btn:active:focus {
  color: white;
  background-color: var(--button-color-dark);
  border: solid var(--primary-color-borders) 3px;
}

.dropdown-item:active:focus {
  color: black;
  background-color: white;
}

/* Button 'push' effect */
.main-btn:active,
.negative-btn:active,
.secondary-btn:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.secondary-btn {
  background-color: transparent;
  border: solid var(--primary-color-borders) 2px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  color: var(--neutral-color);
}

/* Disable annoying default color on click */
.secondary-btn:active:focus {
  color: var(--neutral-color);
  background-color: white;
  border: solid var(--primary-color-borders) 2px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.secondary-btn:hover {
  background-color: unset;
  border: solid var(--primary-color-borders) 2px;
}

.negative-btn {
  background-color: var(--tertiary-color);
  border: solid var(--tertiary-color-light) 3px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.negative-btn:hover {
  background-color: var(--tertiary-color-dark);
  border: solid var(--tertiary-color-borders) 3px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Disable annoying default color on click */
.negative-btn:active:focus {
  color: white;
  background-color: var(--tertiary-color-dark);
  border: solid var(--tertiary-color-borders) 3px;
}
/* BUTTONS ANIMATIONS */
/* .main-btn.clicked {
  background-color: var(--neutral-color-light);
  color: var(--background-color-dark);
  border-color: var(--neutral-color-borders);
  transition: background-color 0.5s ease-in-out;
  animation: shake 0.5s;
} */

/* @keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
} */

.main-btn.clicked {
  position: relative;
  overflow: hidden;
  background-color: var(--neutral-color-light);
  color: var(--background-color-dark);
  border-color: var(--neutral-color-borders);
  transition: background-color 0.5s ease-in-out;
}

.main-btn.clicked::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--neutral-color-light);
  transform: translateX(-100%);
  animation: liquid 1s forwards;
}

@keyframes liquid {
  to {
    transform: translateX(100%);
  }
}

/* FORMS */
.form-control:focus {
  border-color: var(--primary-color-light);
  box-shadow: 0 0 0 0.2rem var(--primary-color-dark);
}

.form-control + svg {
  cursor: pointer;
}

.invalid-form {
  border-color: var(--tertiary-color);
  box-shadow: 0 0 0 0.2rem var(--tertiary-color-light);
}

/* CENTER BOX USED IN AUTH PAGES */
.centered-overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--background-color-accent);
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 388.85px;
  /* height: 94vh; */
}

/* Extra small devices (phones, 390px and down) */
@media only screen and (max-width: 390px) {
  .centered-overlay-box {
    width: 90%;
  }
}

@media only screen and (max-height: 520px) {
  .centered-overlay-box {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media only screen and (max-height: 607px) {
  .register-header-container .logo-with-text {
    width: 30px;
    opacity: 0;
  }
}

.horizontal-separator {
  border-top: solid var(--neutral-color) 2px;
  max-width: 120px;
  width: 120px;
}

/* LINKS */
a {
  color: var(--primary-color-dark);
}

a:visited {
  color: var(--secondary-color-dark);
}

/* ICONS */
.left-icon-position {
  position: absolute;
  top: 30px;
  left: 20px;
  cursor: pointer;
  color: black;
}

/* CUSTOM MARGINS */
.me-35 {
  margin-inline-end: 35px;
}

/* CUSTOM BADGE */
.badge-primary-selected {
  background-color: var(--primary-color-dark) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--background-color-accent);
  border: 1.7px solid transparent;
  cursor: pointer;
  user-select: none;
  font-size: 14px !important;
}

.badge-primary {
  background-color: transparent !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--neutral-color-dark);
  border: 1.7px solid var(--primary-color-dark);
  cursor: pointer;
  user-select: none;
  font-size: 14px !important;
}

.badge-secondary {
  background-color: transparent !important;
  /* box-shadow: var(--secondary-color-light) 0px 3px 3px 0px; */
  box-shadow: var(--secondary-color-light) 0px 1px 4px;
  color: var(--neutral-color-dark);
  border: 1.7px solid var(--secondary-color-dark);
  user-select: none;
  font-size: 14px !important;
}

.profile-picture-placeholder {
  border: solid var(--primary-color-dark) 3px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

/* HOMEPAGE */
.main-navbar {
  background-color: var(--background-color);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.main-search-group {
  width: 500px;
}

.main-search-input {
  border: solid var(--neutral-color-borders) 2px;
  border-right: 0px;
  border-radius: 15px;
}

.main-search-input:focus {
  border: solid var(--primary-color-borders) 2px;
  box-shadow: 0 0 0 0rem var(--primary-color-dark);
  border-right: 0px;
}

.custom-card {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-img-top.narrow-img-top {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

/* react-masonry-css styles */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

/* Underline on clickable items hover */
.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*  DETAILS PAGE */
.left-col-details {
  /* height: calc(100vh - 82px); */
  box-sizing: border-box;
  width: 300px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  height: fit-content;
}

.right-col-details {
  box-sizing: border-box;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

/* DROPDOWNS */
.dropdown-menu::before {
  position: absolute;
  top: -7px;
  left: 101px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu::after {
  position: absolute;
  top: -6px;
  left: 102px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu-alignment {
  position: absolute;
  top: 69px;
  right: 158px;
}

/* reset default toggle button style */
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-toggle:not(:focus) {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/* Disable annoying default color on click */
.dropdown-toggle:active:focus {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.dropdown-item:hover {
  border-left: 2px solid var(--primary-color);
}
.dropdown-item {
  border-left: 2px solid transparent;
  color: var(--neutral-color) !important;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-item.item-disabled {
  color: var(--neutral-color-borders) !important;
}

.review-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* Custom pagination menu */
.page-item.active .page-link {
  background-color: var(--secondary-color) !important;
  border: 1.5px solid var(--secondary-color-dark);
}

.page-link {
  color: var(--secondary-color-dark);
}

.page-link:hover {
  color: var(--secondary-color-accent);
}

.pagination {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.opacity-layout-start {
  width: 10%;
  height: max-content;
  background-color: white;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

  position: absolute;
  z-index: 3;
  top: 0;
  height: 100%;
}

.opacity-layout-end {
  width: 10%;
  height: max-content;
  background-color: white;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
}

/* MOBILE BOTTOM MENU STYLE */
.nav-bottom {
  background-color: var(--background-color);
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-bottom span {
  display: none;
}

.nav-bottom div {
  /* d-flex flex-column justify-content-center align-items-center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-bottom .middle-icon {
  position: absolute;
  top: -20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* animation */
.nav-bottom .middle-icon {
  transition: transform 0.2s ease-in-out;
}

.nav-bottom .middle-icon:hover,
.nav-bottom .middle-icon:active {
  transform: translateY(4px);
}

/* OFFCANVAS LEFT MENU */
.left-menu {
  width: max-content;
  margin: 0 auto;
}

.offcanvas.offcanvas-start.show {
  width: 250px;
}

.offcanvas-header button.btn-close {
  display: none;
}

.offcanvas {
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
}

.custom-close-btn {
  right: -18px;
  position: absolute;
  top: 13px;
  background-color: white;
  /* background-color: var(--primary-color); */
  border-radius: 50%;
  padding: 13px;
  cursor: pointer;
}

.custom-close-btn:hover {
  color: var(--primary-color-dark);
}

.left-menu div {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

/* LEFT MENU ANIMATIONS */

.left-menu div:nth-child(1) {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
}

.left-menu div:nth-child(2) {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
}

.left-menu div:nth-child(3) {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.left-menu div:nth-child(4) {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.left-menu div:nth-child(5) {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.left-menu div span::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: var(--primary-color);
  z-index: -1;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.left-menu div span:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.left-menu div span {
  position: relative;
}

.left-menu div:hover .lucide {
  color: var(--primary-color-dark);
}

.left-menu div:hover > .dark-mode-icon:hover,
.left-menu div:hover > .logout-icon:hover {
  color: var(--primary-color-dark);
}

.search-suggestions {
  position: absolute !important;
  top: 0;
  left: 5px;
  width: 90%;
  z-index: -1;
}

.css-13cymwt-control {
  visibility: hidden !important;
}
